.relative { background: url('data/img/relative.png') no-repeat; }
.relative.param { background: url('data/img/relative.png') no-repeat; }

.absolute { background: url('data/img/absolute.png') no-repeat; }
.absolute.param { background: url('data/img/absolute.png') no-repeat; }

.baseDomain { background: url('data/img/baseDomain.png') no-repeat; }
.baseDomain.param { background: url('data/img/baseDomain.png') no-repeat; }

.externalDomain { background: url('externalcontent.com/data/img/externalDomain.png') no-repeat; }
.externalDomain.param { background: url('externalcontent.com/data/img/externalDomain.png') no-repeat; }